.game-room {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__other-players-info {
    height: 20vh;
    width: 96%;
    margin: 2%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-x: auto;
  }
  &__other-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 0 10px;
    align-items: center;
  }

  &__chat {
    height: 15vh;
    width: 96%;
    margin: 2%;
  }
}
