.dobble-game-card {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    padding: 2vh;
    &--small {
      height: 15vh;
      width: 15vh;
      padding: 1vh;
    }
  }

  &__button {
    border-radius: 50%;
    border: none;
    background-color: transparent;
    &:active {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}
